Flask==3.0.3
Flask-Cors==4.0.1
requests==2.32.3
python-dotenv==1.0.1
gunicorn==21.2.0

# --- Baza Danych ---
firebase-admin==6.5.0

# --- AI & Semantyka (Cloud - Lepsza jakość) ---
google-generativeai==0.5.2
numpy==1.26.4

# --- NLP i Stylometria ---
spacy==3.7.2
https://github.com/explosion/spacy-models/releases/download/pl_core_news_sm-3.7.0/pl_core_news_sm-3.7.0.tar.gz#egg=pl_core_news_sm
pysbd==0.3.4
textstat==0.7.3
language-tool-python==2.7.1

# --- Fuzzy Logic ---
rapidfuzz==3.9.7
textdistance==4.6.1
